
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman,Times,serif';
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  
}

